
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button#dark {
  background-color: white;
  color: black;
}

button#light {
  display:none;
  background-color: black;
  color: white;
  border: 1px solid white;
}

.dark-mode {
  background-color: black;
  color: white;
}

p.clickable {
  box-sizing: border-box;
  width: 95%;
  height: auto;
  margin: auto;
  padding: 20px;
}

.now-clicked {
  border: 2px solid red;
}