
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button#dark {
  background-color: white;
  color: #000000;
}

button#light {
  background-color: black;
  color: white;
}

.dark-mode {
  background-color: black;
  color: white;
}