
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button#dark {
  background-color: white;
  color: black;
}

button#light {
  display:none;
  background-color: black;
  color: white;
  border: 1px solid white;
}

.dark-mode {
  background-color: black;
  color: white;
}